env
venv
.venv
.vscode/
*.pyc
.idea
__pycache__
*.orig
dist/
build/
*.egg-info
*.egg-info/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
*.db
linux_dist/appimage/AppDir
linux_dist/appimage/appimage-builder-cache
linux_dist/appimage/*.zsync
linux_dist/appimage/*.AppImage
linux_dist/appimage/*.gz
linux_dist/appimage/*.gz.*
linux_dist/appimage/bauh-*
AGENTS.md
graphify-out/
