include LICENSE CHANGELOG.md README.md CREDITS.md requirements.txt requirements-dev.txt
recursive-include bauh/desktop *
recursive-include bauh/view/resources *
recursive-include bauh/gems *
global-exclude *.orig
global-exclude *.pyc
global-exclude __pycache__/*
prune linux_dist
prune tests
prune venv
prune .venv
