[Desktop Entry]
Type=Application
Name=bauh Gekko Edition (tray)
Name[pt]=bauh Gekko Edition (bandeja)
Name[es]=bauh Gekko Edition (bandeja)
Name[ca]=bauh Gekko Edition (safata)
Name[it]=bauh Gekko Edition (vassoio)
Name[de]=bauh Gekko Edition (Systemleiste)
Name[fr]=bauh Gekko Edition (zone de notification)
Name[ru]=bauh Gekko Edition (область уведомлений)
Name[tr]=bauh Gekko Edition (sistem tepsisi)
Name[zh]=bauh Gekko Edition (托盘)
GenericName=Package Manager Tray
GenericName[pt]=Bandeja do gerenciador de pacotes
GenericName[es]=Bandeja del gestor de paquetes
GenericName[ca]=Safata del gestor de paquets
GenericName[it]=Vassoio del gestore di pacchetti
GenericName[de]=Paketverwaltung in der Systemleiste
GenericName[fr]=Zone de notification du gestionnaire de paquets
GenericName[ru]=Менеджер пакетов в области уведомлений
GenericName[tr]=Paket Yöneticisi Tepsisi
GenericName[zh]=软件包管理器托盘
Comment=Update notifications in the system tray (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[pt]=Notificações de atualização na bandeja do sistema (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[es]=Notificaciones de actualización en la bandeja del sistema (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[ca]=Notificacions d'actualització a la safata del sistema (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[it]=Notifiche di aggiornamento nel vassoio di sistema (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[de]=Aktualisierungsbenachrichtigungen in der Systemleiste (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[fr]=Notifications de mise à jour dans la zone de notification (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[ru]=Уведомления об обновлениях в области уведомлений (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[tr]=Sistem tepsisinde güncelleme bildirimleri (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[zh]=系统托盘中的更新通知 (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Keywords=package;software;update;tray;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[es]=paquete;software;actualizar;bandeja;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[pt]=pacote;software;atualizar;bandeja;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[ca]=paquet;programari;actualitzar;safata;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[it]=pacchetto;software;aggiornare;vassoio;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[de]=paket;software;aktualisieren;systemleiste;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[fr]=paquet;logiciel;mettre à jour;notification;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[ru]=пакет;программы;обновление;уведомления;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[tr]=paket;yazılım;güncelle;tepsi;arch;aur;chaotic;flatpak;eopkg;solus;
Categories=System;Settings;PackageManager;
Exec=/usr/bin/bauh-tray
Icon=bauh-gekko
Terminal=false
StartupNotify=false
StartupWMClass=bauh
