[Desktop Entry]
Type=Application
Name=bauh Gekko Edition
Name[pt]=bauh Gekko Edition
Name[es]=bauh Gekko Edition
Name[ca]=bauh Gekko Edition
Name[it]=bauh Gekko Edition
Name[de]=bauh Gekko Edition
Name[fr]=bauh Gekko Edition
Name[ru]=bauh Gekko Edition
Name[tr]=bauh Gekko Edition
Name[zh]=bauh Gekko Edition
GenericName=Package Manager
GenericName[pt]=Gerenciador de pacotes
GenericName[es]=Gestor de paquetes
GenericName[ca]=Gestor de paquets
GenericName[it]=Gestore di pacchetti
GenericName[de]=Paketverwaltung
GenericName[fr]=Gestionnaire de paquets
GenericName[ru]=Менеджер пакетов
GenericName[tr]=Paket Yöneticisi
GenericName[zh]=软件包管理器
Comment=Install and remove applications (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[pt]=Instale e remova aplicativos (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[es]=Instalar y eliminar aplicaciones (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[ca]=Instal·lar i eliminar aplicacions (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[it]=Installa e rimuovi applicazioni (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[de]=Anwendungen installieren und entfernen (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[fr]=Installer et supprimer des applications (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[ru]=Установка и удаление приложений (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[tr]=Uygulama yükle/kaldır (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Comment[zh]=安装和卸载应用程序 (Arch/AUR, Chaotic AUR, Flatpak, Solus eopkg)
Keywords=package;software;install;update;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[es]=paquete;software;instalar;actualizar;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[pt]=pacote;software;instalar;atualizar;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[ca]=paquet;programari;instal·lar;actualitzar;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[it]=pacchetto;software;installare;aggiornare;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[de]=paket;software;installieren;aktualisieren;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[fr]=paquet;logiciel;installer;mettre à jour;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[ru]=пакет;программы;установка;обновление;arch;aur;chaotic;flatpak;eopkg;solus;
Keywords[tr]=paket;yazılım;yükle;güncelle;arch;aur;chaotic;flatpak;eopkg;solus;
Categories=System;Settings;PackageManager;
Exec=/usr/bin/gekko-bauh
Icon=gekko-bauh
Terminal=false
StartupNotify=true
StartupWMClass=gekko-bauh
