pkgbase = gekko-bauh
	pkgdesc = Graphical package manager for Arch/AUR, Chaotic AUR, Flatpak and Solus (eopkg)
	pkgver = 0.10.8+gekko.1
	pkgrel = 1
	url = https://github.com/The-Gekko/Bauh-Fork-The-Gekko
	arch = any
	license = custom:zlib
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pyqt5
	depends = python-requests
	depends = python-yaml
	depends = python-colorama
	depends = python-dateutil
	depends = qt5-svg
	optdepends = flatpak: manage Flatpak applications
	optdepends = git: required by the GitHub gem and to build AUR packages
	optdepends = base-devel: required to build AUR packages and by the GitHub gem
	optdepends = timeshift: system snapshots before installing or upgrading packages
	optdepends = python-lxml: required by the optional web gem
	optdepends = python-beautifulsoup4: required by the optional web gem
	options = !debug
	source = gekko-bauh-0.10.8+gekko.1.tar.gz::https://github.com/The-Gekko/Bauh-Fork-The-Gekko/archive/refs/tags/v0.10.8-gekko.1.tar.gz
	sha256sums = SKIP

pkgname = gekko-bauh
